.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins';

    .content{
        height: 500px;
        display: flex;
        align-items: center;
        flex-direction: column;    
        justify-content:  space-between;
    }

    header{
        margin-top: 100px;
        font-style: normal;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    

        h1{
            font-weight: 600;
            padding-left: 30px;
            text-align: left;
            font-size: 64px;
            line-height: 100%;
            color: #FFFFFF;
        }

        h3{
            font-weight: 400;
            width: 50%;
            padding-left: 30px;
            text-align: left;
            font-size: 20px;
            line-height: 150%;
            color: #FFFFFF;
        }
    }

    button{
        padding: 7px 15px;
        background: #81D8F7;
        border-radius: 22px;
        color: #4185C5;
        align-self: flex-end;
        margin-right: 30px;
    }
}
