.search {

  margin-bottom: 55px;

  .search-container {
    padding: 20px;
    border: 5px solid #81D8F7;
    border-radius: 22px;
    width: 340px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .tabs{
      display: flex;
      justify-content: space-around;
    }
  }
}
